.wrapper {
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
  }

  form {
      display: flex;
      flex-flow: column wrap;
  }

  h1 {
      text-align: center;
  }

  input {
      margin: 5px 0;
  }
  